---
- name: Install cloud native packages
  tags: [packages, dev, cloudnative]
  block:
    - name: Ensure not installed packages
      community.general.pacman:
        name:
          - neofetch
        state: absent

    - name: Install cloud native packages
      community.general.pacman:
        name:
          - aws-cli-v2
          - github-cli
          - helm
          - jless
          - jq
          - k9s
          - kubectl
          - kustomize
          - terraform
          - yamllint
          - yq

    - name: Install cloud native packages from aur
      kewlfft.aur.aur:
        use: paru
        name:
          - act
          - cosign
          - crane
          - google-cloud-cli
          - google-cloud-cli-gke-gcloud-auth-plugin
          - grype-bin
          - kind
          - kubectx
          - kubetail
          - pack-cli-bin
          - rancher-k3d-bin
          - stern
          - syft
          - tmate
      become: yes
      become_user: aur_builder

    - name: Install cloud native security packages
      tags: [packages, security]
      kewlfft.aur.aur:
        use: paru
        name:
          - cosign
          - grype-bin
          - syft
          - trivy
      become: yes
      become_user: aur_builder

- name: Install development packages
  tags: [packages, dev]
  block:
    - name: Install development packages
      community.general.pacman:
        name:
          - go
          - nodejs-lts-iron
          - npm
          - php
          - python-pipx
          - shellcheck
          - yarn
    - name: Install development packages using npm
      community.general.npm:
        name: "@github/copilot"
        global: true
