---
- name: Install multimedia packages
  tags: [packages, media, multimedia]
  block:
  - name: Install media packages
    community.general.pacman:
      name:
        - guvcview

  - name: Install audio plugins
    tags: [audio]
    community.general.pacman:
      name:
        - easyeffects
        - lsp-plugins
        - calf

  - name: Install media packages (aur)
    kewlfft.aur.aur:
      use: paru
      name:
        - blanket
        - kooha
        - mplayer
        - vlc
        - libmicrodns
        - protobuf
    become: yes
    become_user: aur_builder
